.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .model-cover{
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
  }

  .model-cover ul li::marker{
    color: #fdd835;
  }

  .modal-content {
    text-align: center;
  }

  .modal-image {
    width: 80%;
  max-height: 100px;
    object-fit: contain;
    border-radius: 5px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  